# Ignore model outputs
outputs/best_model.h5

# Ignore processed data
data/processed/train_images.npy
data/processed/val_images.npy
data/processed/test_images.npy
data/processed/train_labels.npy
data/processed/val_labels.npy
data/processed/test_labels.npy

# Ignore raw data archives
data/raw/Corel-5k.zip

# Ignore extracted raw data
data/raw/Corel-5k/Corel-5k/images/*
